{% extends 'baseCliente.html' %}
{% block title %}Inicio - TecniControl S.A.{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="text-center mb-5">
        <h1 class="display-5"> TecniControl S.A.</h1>
        <p class="lead"> "Soluciones técnicas que impulsan tu negocio."</p>
    </div>

    <div class="mb-4">
        <h3> ¿Quiénes somos?</h3>
        <p>
            TecniControl S.A. es una empresa guatemalteca especializada en brindar servicios de reparación, mantenimiento
            y soporte técnico para equipos electrónicos y de oficina. Atendemos a clientes particulares, pymes y grandes empresas,
            ofreciendo soluciones confiables y personalizadas.
        </p>
    </div>

    <div class="mb-4">
        <h3>Ubicación</h3>
        <p>Dirección: 4ta Avenida 6-23 zona 1, Ciudad de Guatemala, Guatemala</p>
    </div>

</div>
{% endblock %}
